<div class="main-page">
  <!-- Header -->
  <div class="flex vertical-align">
    <h1 class="no-margin">Mon Profil</h1>

    <h2 class="float-right no-margin" *ngIf="person && person.manager; else elseBlock">Mon Manager
      : {{ person.manager.lastname }} {{ person.manager.firstname }}</h2>
    <ng-template #elseBlock>
      <h2 class="float-right no-margin">Aucun Manager</h2>
    </ng-template>
  </div>

  <mat-divider class="separator"></mat-divider>

  <!-- Body -->
  <div class="flex">
    <div class="flex col">
      <!-- Form pour le profil -->
      <form class="flex col vertical-align" [formGroup]="form" (ngSubmit)="onSubmitProfil()">
        <h2>Modifier mes informations</h2>

        <mat-form-field>
          <mat-label>Nom :</mat-label>
          <input matInput formControlName="lastname" required>
          <mat-error>Veuillez entrer un nom</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prénom :</mat-label>
          <input matInput formControlName="firstname" required>
          <mat-error>Veuillez entrer un prénom</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adresse Email :</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error>Veuillez entrer une adresse email sous la forme 'prenom.nom@econocom.com'</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Numéro de téléphone :</mat-label>
          <input matInput formControlName="phone" minlength="10" maxlength="10">
          <mat-error>Veuillez entrer un numéro de téléphone (10 chiffres)</mat-error>
        </mat-form-field>

        <div class="flex float-right">
          <button mat-icon-button class="red" type="button" (click)="resetForm()">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button class="green" type="submit" [disabled]="form.invalid">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>

      <!-- Form pour le mot de passe -->
      <form class="flex col vertical-align" [formGroup]="pwdForm" (ngSubmit)="onSubmitAuth()">
        <h2>Modifier mon mot de passe</h2>

        <mat-form-field>
          <mat-label>Mot de passe :</mat-label>
          <input matInput [type]="pwdReadable ? 'text' : 'password'" formControlName="password" required>
          <mat-icon matSuffix class="icon"
                    (click)="pwdReadable = !pwdReadable">{{ pwdReadable ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>

        <button mat-icon-button class="green float-right" type="submit" [disabled]="pwdForm.invalid">
          <mat-icon>save</mat-icon>
        </button>
      </form>
    </div>

    <div class="flex col tmp-div">
      <div class="cv">Mon CV</div>
      <!--      Partie infos personnelles-->
      <form class="flex col vertical-align tmp-form">
        <h2>Mes données principales</h2>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>Prénom</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Nom</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Test</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <button mat-icon-button class="green float-right tmp-btn" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <!-- Partie expérience -->
      <form class="flex col vertical-align tmp-form">
        <h2>Mes expériences</h2>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>Client</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Compétences</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>Client</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Compétences</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <button mat-icon-button class="green float-right tmp-btn" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <!-- Partie compétences -->
      <form class="flex col vertical-align tmp-form">
        <h2>Mes compétences</h2>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>Compétence</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Niveau</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>Compétence</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>Niveau</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <button mat-icon-button class="green float-right tmp-btn" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <!-- Autres données -->
      <form class="flex col vertical-align tmp-form">
        <h2>Autre</h2>

        <div class="flex tmp-div">
          <mat-form-field class="tmp-field">
            <mat-label>1</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="tmp-field">
            <mat-label>2</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <button mat-icon-button class="green float-right tmp-btn" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </form>

    </div>
  </div>
</div>
