.cv{
  color:black;
  font-family: Arial;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}

form {
  border: 1px solid #573EEF;
  margin: 5vh auto 0 3vw;
  padding: 2vh 2vw;
  width: 25vw;
}

mat-form-field {
  margin: 2vh 0;
  width: 65%;
}

.icon {
  cursor: pointer;
}

.tmp-btn {
  margin-top: auto;
}

.tmp-div {
  width: 100%;
}

.tmp-field {
  margin-right: 2%;
  width: 60%;
}

.tmp-form {
  height: 45%;
  width: 85%;
}
