h1 {
  margin: 0 0 0 auto;
}

h4 {
  margin: 0 0 0 auto;
  text-align: center;
}

mat-form-field {
  margin: 0 auto;
  width: 40%;
}

.delete {
  margin: 0 0 0 auto;
}

.name {
  text-align: end;
  width: 47.5%;
}

.percentage {
  text-align: start;
  width: 47.5%;
}

.separator {
  margin: 2vh 0;
}

.space {
  width: 5%;
}