<!-- Header -->
<div class="flex">
  <h1 mat-dialog-title>Gestion des candidatures</h1>
  <button class="float-right" mat-icon-button (click)="onCancel()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<div mat-dialog-content>
  <!-- Input d'ajout -->
  <div class="flex col">
    <mat-form-field>
      <input matInput id="add" placeholder="Ajouter un candidat" (input)="onSearch()" [(ngModel)]="search" [matAutocomplete]="suggestions" [disabled]="data.readOnly">
    </mat-form-field>

    <mat-autocomplete #suggestions="matAutocomplete" [displayWith]="displayFunction" (optionSelected)="onSelect($event.option.value)">
      <mat-option *ngFor="let p of personSuggestions" [value]="p">{{ p.lastname }} {{ p.firstname }}</mat-option>
    </mat-autocomplete>
  </div>

  <!-- Liste des candidats -->
  <div class="flex vertical-align" *ngFor="let candidate of data.candidates; let i = index">
    <h4>{{ candidate.lastname }} {{ candidate.firstname }}</h4>
    
    <button class="red delete" mat-icon-button [disabled]="data.readOnly" (click)="onDelete(i)"><mat-icon>delete</mat-icon></button>
  </div>

  <mat-divider class="separator" *ngIf="candidatesSuggestions && candidatesSuggestions.length > 0"></mat-divider>

  <!-- Candidats proposés automatiquement par le moteur -->
  <div class="flex col" *ngIf="candidatesSuggestions && candidatesSuggestions.length > 0">
    <div class="flex vertical-align">
      <h1>Propositions</h1>

      <div class="float-right" style="width: 40px;"></div>
    </div>

    <div *ngFor="let cs of candidatesSuggestions">
      <div class="flex vertical-align" *ngIf="!this.candidateAlreadySelected(cs)">
        <h4 class="name"><button mat-button (click)="onClickCandidate(cs)">{{ cs.lastname }} {{ cs.firstname }}</button></h4>
        
        <div class="space"></div>
        
        <h4 class="percentage">{{ cs.percentage }} % de match</h4>
      </div>
    </div>
  </div>
</div>

<!-- Validation -->
<div mat-dialog-actions>
  <button class="green" mat-icon-button [mat-dialog-close]="data" matTooltip="Enregistrer" cdkFocusInitial>
    <mat-icon>save</mat-icon>
  </button>
</div>