<div class="header">
  <!-- Partie de gauche -->
  <div routerLink="/users" class="link" *ngIf="isAuth">Utilisateurs</div>
  <div routerLink="/offres" class="link" *ngIf="isAuth">Offres en cours</div>
  <div routerLink="/offres" [queryParams]="{terminees: true}" class="link" *ngIf="isAuth">Offres terminées</div>

  <!-- Partie de droite -->
  <div routerLink="/admin" class="link float-right" *ngIf="isAdmin">Accès Admin</div>
  <div routerLink="/profil" class="link" [ngClass]="{'float-right': !isAdmin}" *ngIf="isAuth">Mon profil</div>
  <div class="link" *ngIf="isAuth; else elseBlock" (click)="authService.logout()">Log out</div>
  <ng-template #elseBlock>
    <div routerLink="/" class="link float-right">Log in</div>
  </ng-template>
</div>
