td {
  text-align: center;
}

.add-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.collabtitle {
  margin: 0;
  color: black;
}

.form {
  flex: 0 1 25%;
}

.icon {
  color: #3E0D81;
  opacity: 100%;
}

.icon:hover {
  color: #3E0D81;
  opacity: 70%;
}

.libelle {
  background-color: #481575;
  color: white;
  font-size: 13px;
}

::ng-deep .mat-sort-header-arrow {
  color: white;
  margin-right: auto !important;
}

::ng-deep .mat-sort-header-content {
  margin-left: auto;
}

.no-padding-right {
  padding-right: 0;
}

.separator {
  border-color: #573EEF;
  margin-bottom: 1%;
}

.table {
  padding: 25px;
}

.usertable {
  width: 100%;
}

.selected {
  background-color: #ad9ad423;
}
