<div class="main-page">

  <div class="flex vertical-align">

    <h1 class="collabtitle">Utilisateurs</h1>

    <button class="float-right" mat-icon-button matTooltip="Ajouter un collaborateur"
            (click)="onClickAdd()" *ngIf="authorizationService.canDo('createMission')">
      <mat-icon class="add-icon">add_circle</mat-icon>
    </button>

  </div>

  <mat-divider class="separator"></mat-divider>

  <div style="display: flex; padding: 10px;">

    <div style="flex: 1;">

      <table mat-table [dataSource]="dataSource" matSort class="usertable">

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">Nom</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">{{ person.lastName }} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">Prénom</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">{{ person.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">Adresse mail</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">{{ person.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">N° de tel.</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">{{ person.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="profil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">Profil</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">{{ person.profil }}</td>
        </ng-container>

        <ng-container matColumnDef="arrivee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">Date d'arrivée</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">
            {{ person.dateIn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="libelle">CV</th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">
            <mat-icon class="icon">wysiwyg</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedelete">
          <th mat-header-cell *matHeaderCellDef class="libelle"></th>
          <td [ngClass]="{'selected': person.id === personId}" mat-cell *matCellDef="let person">

            <button mat-icon-button (click)="onEdit(person.id)">
              <mat-icon *ngIf="authorizationService.canDo('editMission'); else detail">edit</mat-icon>
              <ng-template #detail>
                <mat-icon>remove_red_eye</mat-icon>
              </ng-template>
            </button>

            <button mat-icon-button (click)="onDelete(person.id)">
              <mat-icon *ngIf="authorizationService.canDo('editMission'); else detail">delete</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <mat-divider class="separator main-page" *ngIf="showAddupdate" [vertical]="true"></mat-divider>

    <div class="form" *ngIf="showAddupdate">
      <app-addupdate (close)="onClose()" (added)="queryPersons()" [personId]="personId"></app-addupdate>
    </div>

  </div>
</div>
