<div class="full-height" fxLayout="row">
  <div class="image" fxFlex="60"></div>

  <div class="form-container" fxFlex="40" fxLayout="column">
    <div fxFlex="35"></div>

    <form>
      <mat-form-field appearance="standard" color="primary">
        <mat-label>Adresse e-mail</mat-label>

        <input [(ngModel)]="inputEmail" aria-describedby="emailHelp" matInput name="email"
          placeholder="@econocom.com" type="email"/>
      </mat-form-field>

      <br>

      <mat-form-field appearance="standard" color="primary">
        <mat-label>Mot de passe</mat-label>

        <input [(ngModel)]="inputPassword" matInput name="password" placeholder="mot de passe" type="password"/>
      </mat-form-field>

      <br>

      <button (click)="login()" class="form-button" mat-raised-button>Se connecter</button>
    </form>
  </div>
</div>
