.container {
  height: 100%;
}

.form-container {
  align-items: center;
}

.form-button {
  align-self: center;
}

.image {
  background-image: url('src/assets/images/welcome.jpg') !important;
  background-position: center;
  background-size: cover;
}
