<div class="flex vertical-align">
  <p>{{ data }}</p>
  <button class="green float-right" mat-icon-button (click)="ok()"><mat-icon>check</mat-icon></button>
  <button class="red" mat-icon-button (click)="cancel()"><mat-icon>close</mat-icon></button>
</div>