h2 {
  margin: 0 0 0 auto;
}

.close-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.fixed {
  position: fixed;
}

.full-width {
  width: 92% !important; /* 92% car 2 * 45% + les 2 % de margin-left des autres lignes */
}

.group {
  max-width: 8vw;
}

.info {
  color: grey;
  font-size: 0.85em;
  text-align: center;
}

.margin-left {
  margin-left: 2%;
}

.mat-form-field {
  width: 45%;
}

.text-left {
  text-align: start;
}

.w35 {
  width: 35%;
}