<div class="fixed margin-left-2">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <!-- Titre -->
    <div class="flex">
      <h2>{{ title }}</h2>

      <button class="float-right" mat-icon-button type="button" matTooltip="Fermer le formulaire" (click)="emitClose()">
        <mat-icon class="close-icon">cancel</mat-icon>
      </button>
    </div>

    <!-- Sélection du client et de la localisation -->
    <div>
      <button class="text-left" type="button" mat-icon-button (click)="onAddClient()" *ngIf="this.canChangeForm()" matTooltip="Créer un client">
        <mat-icon>add</mat-icon>
      </button>

      <mat-form-field [ngClass]="{'w35': this.canChangeForm()}" appearance="standard">
        <mat-label>Client</mat-label>
        <select matNativeControl [(ngModel)]="selectedClientId" (change)="onSelectClient()" name="client" #client="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let client of clients" [value]="client.id">{{ client.label }}</option>
        </select>

        <mat-error *ngIf="client.invalid && client.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>

      <button type="button" mat-icon-button (click)="onAddClient(selectedClient)" *ngIf="this.canChangeForm() && selectedClient" matTooltip="Editer ce client">
        <mat-icon>edit</mat-icon>
      </button>
      
      <mat-form-field class="margin-left-2" [ngClass]="{'w35': this.canChangeForm()}" appearance="standard" *ngIf="selectedClient">
        <mat-label>Localisation</mat-label>
        <select matNativeControl [(ngModel)]="mission.client_location_id" name="location" #location="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let location of selectedClient.location" [value]="location.id">{{ location.label }}</option>
        </select>

        <mat-error *ngIf="location.invalid && location.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>
    </div>

    <!-- Sélection de la priorité et du type d'offre -->
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Priorité</mat-label>
        <select matNativeControl [(ngModel)]="mission.priority" name="priority" #priority="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let priority of priorities | keyvalue: sortEnum" [value]="priority.key">{{ priority.value }}</option>
        </select>

        <mat-error *ngIf="priority.invalid && priority.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>
      
      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Type de mission</mat-label>
        <select matNativeControl [(ngModel)]="mission.type" name="type" #type="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let type of types | keyvalue: sortEnum" [value]="type.key">{{ type.value }}</option>
        </select>

        <mat-error *ngIf="type.invalid && type.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>
    </div>

    <!-- Sélection du statut de l'offre et du TJM -->
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Statut</mat-label>
        <select matNativeControl [(ngModel)]="mission.status" name="status" #status="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let stat of statusEnum | keyvalue: sortEnum"[value]="stat.key">{{ stat.value }}</option>
        </select>

        <mat-error *ngIf="status.invalid && status.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>

      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Agence</mat-label>
        <select matNativeControl [(ngModel)]="mission.agency" name="agency" #agency="ngModel" required [disabled]="!canChangeForm()">
          <option *ngFor="let agency of agencies | keyvalue: sortEnum" [value]="agency.value">{{ agency.key }}</option>
        </select>

        <mat-error *ngIf="agency.invalid && agency.touched">Veuillez renseigner ce champ.</mat-error>
      </mat-form-field>
    </div>

    <!-- Input pour la description de l'offre -->
    <div>
      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="mission.description" name="desc" #desc="ngModel" [disabled]="!canChangeForm()"></textarea>
      </mat-form-field>
    </div>

    <!-- Inputs pour le TJM et le collab à remplacer -->
    <div>
      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>TJM</mat-label>
        <input matInput type="number" [(ngModel)]="mission.adr" name="tjm" [disabled]="!canChangeForm()">

        <span matSuffix>€</span>
      </mat-form-field>
      
      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Collaborateur remplacé</mat-label>
        <select matNativeControl [(ngModel)]="mission.replaced" name="replaced" [disabled]="!canChangeForm()">
          <option *ngFor="let collab of collaborators" [value]="collab.id">{{ collab.lastname }} {{ collab.firstname }}</option>
        </select>
      </mat-form-field>
    </div>

    <!-- Inputs pour les coordonnées de contact (mail et téléphone)-->
    <div>
      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>E-mail de contact</mat-label>
        <input matInput [(ngModel)]="mission.contact_email" name="email" [disabled]="!canChangeForm()">
      </mat-form-field>

      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Téléphone de contact</mat-label>
        <input matInput [(ngModel)]="mission.contact_phone" name="phone" [disabled]="!canChangeForm()">
      </mat-form-field>
    </div>

    <!-- Sélection des dates de début et de fin d'offre -->
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Date de début</mat-label>
        <input matInput [matDatepicker]="debutpicker" [(ngModel)]="dateDebut" (dateChange)="setDate($event.target.value, true)" name="debut" [disabled]="!canChangeForm()">

        <mat-datepicker-toggle matSuffix [for]="debutpicker"></mat-datepicker-toggle>

        <mat-datepicker #debutpicker [disabled]="!canChangeForm()"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Date de fin</mat-label>
        <input matInput [matDatepicker]="finpicker" [(ngModel)]="dateFin" #fin="ngModel" (dateChange)="setDate($event.target.value, false)" name="fin" [disabled]="!canChangeForm()">

        <mat-datepicker-toggle matSuffix [for]="finpicker"></mat-datepicker-toggle>

        <mat-datepicker #finpicker [disabled]="!canChangeForm()"></mat-datepicker>

        <mat-error *ngIf="fin.invalid">Veuillez renseigner une date de fin supérieure à la date de début</mat-error>
      </mat-form-field>
    </div>

    <!-- Envoie du form, gestion des compétences et des candidats -->
    <div class="flex">
      <div class="flex col group">
        <button type="button" mat-stroked-button (click)="onClickSkills()">Compétences</button>
        
        <div class="info" *ngIf="missionSkills.length > 0">{{ missionSkills.length }} compétence(s) sélectionnée(s)</div>
      </div>
      
      <div class="flex col group margin-left">
        <button type="button" mat-stroked-button (click)="onClickCandidates()">Candidatures</button>
        
        <div class="info" *ngIf="candidates.length > 0">{{ candidates.length }} candidat(s) sélectionné(s)</div>
      </div>

      <button [ngClass]="{'green': form.valid}" class="float-right" mat-icon-button type="submit" [disabled]="form.invalid" matTooltip="Enregistrer" *ngIf="canChangeForm()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>