<div class="flex col max-height-100">
  <!-- Header -->
  <div class="flex">
    <h1>Clients</h1>

    <button mat-icon-button matTooltip="Ajouter un client" (click)="addNewClient()"><mat-icon>add</mat-icon></button>
    <button mat-icon-button class="red" matTooltip="Annuler les modifications" (click)="onReset()"><mat-icon>undo</mat-icon></button>
    <button mat-icon-button class="green" matTooltip="Sauvegarder les clients" (click)="onSave()"><mat-icon>save</mat-icon></button>
  </div>

  <!-- Body -->
  <div class="flex vertical-align" *ngFor="let client of clients; let i = index">
    <button mat-button class="float-right float-left flex-07" (click)="onClickClient(client, i)">{{ client.label || 'Nouveau client' }}</button>

    <div class="float-right" [matTooltip]="'Ce client est référencé dans ' + client.nbUsed  + ' offres'" [matTooltipDisabled]="!client.nbUsed ||client.nbUsed === 0">
      <button mat-icon-button class="red" (click)="onDelete(i)" [disabled]="client.nbUsed > 0">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>