<!-- Header -->
<div class="flex">
  <mat-form-field class="test">
    <mat-label>Nom du client</mat-label>
    <input matInput class="title" [(ngModel)]="data.client.label">
  </mat-form-field>

  <button class="float-right" mat-icon-button (click)="onCancel()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<div mat-dialog-content class="flex vertical-align">
  <h2>Localisation(s) : </h2>

  <div class="flex col flex-07">
    <div class="flex vertical-align" *ngFor="let location of data.client.location; let i = index">
      <mat-form-field class="float-right">
        <mat-label>Localisation</mat-label>
        <input matInput [(ngModel)]="location.label">
      </mat-form-field>
      
      <div class="float-right" [matTooltip]="'Cette localisation est référencée dans ' + location.missions.length + ' offres'" [matTooltipDisabled]="!location.missions || location.missions.length === 0">
        <button class="red" mat-icon-button (click)="onDelete(i)" [disabled]="location.missions && location.missions.length > 0">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="flex vertical-align">
      <button mat-icon-button class="float-right" (click)="addEmptyLocation()" matTooltip="Ajouter une localisation">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Validation -->
<div mat-dialog-actions matTooltip="Un client doit avoir au moins une localisation" [matTooltipDisabled]="this.isDataCorrect()">
  <button class="green" mat-icon-button [mat-dialog-close]="data" matTooltip="Enregistrer" [disabled]="!this.isDataCorrect()">
    <mat-icon>save</mat-icon>
  </button>
</div>
