p {
  margin: 0;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

::ng-deep .mat-sort-header-arrow {
  margin-right: auto !important;
}

::ng-deep .mat-sort-header-content {
  margin-left: auto;
}

.selected {
  background-color: #ad9ad423;
}