<div class="mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priorité</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.priority }}</td>
    </ng-container>

    <ng-container matColumnDef="agency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agence</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.agency }}</td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Demandeur</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.createdBy }}</td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.client }}</td>
    </ng-container>

    <ng-container matColumnDef="clientLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Localisation</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.clientLocation }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Poste/Profil</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.description }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de début</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.startDate }}</td>
    </ng-container>

    <ng-container matColumnDef="stopDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de fin</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.stopDate }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.status }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type de mission</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">{{ mission.type }}</td>
    </ng-container>

    <ng-container matColumnDef="candidates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidats</th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">
        <p *ngFor="let candidate of mission.candidates">{{ candidate }}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td [ngClass]="{'selected': mission.id === missionId}" mat-cell *matCellDef="let mission">
        <div class="flex">
          <button mat-icon-button (click)="onEdit(mission.id)" [matTooltip]="editTooltip">
            <mat-icon *ngIf="authorizationService.canDo('editMission') && !terminees; else detail">edit</mat-icon>
            <ng-template #detail>
              <mat-icon>remove_red_eye</mat-icon>
            </ng-template>
          </button>

          <button mat-icon-button *ngIf="authorizationService.canDo('duplicateMission') && !terminees" (click)="onDuplicate(mission.id)" matTooltip="Dupliquer l'offre">
            <mat-icon>content_copy</mat-icon>
          </button>

          <button mat-icon-button *ngIf="authorizationService.canDo('deleteMission') && !terminees" class="red" (click)="onDelete(mission.id)" matTooltip="Supprimer l'offre">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 5]" showFirstLastButtons></mat-paginator>
</div>