.add-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.black {
  color: black;
}

.content {
  flex: 1;
}

.filter-group {
  text-align: center;
}

.filters {
  display: block;
  flex: 1;
  font-size: 12px;
  margin-left: 2%;
}

.form {
  flex: 0 1 25%;
}

.mat-form-field {
  margin-left: 30px;
}

.mission-group {
  margin-bottom: 2%;
}

.no-padding-right {
  padding-right: 0;
}

.offres {
  background-color: #481575;
}

.search {
  margin-left: 2% !important;
}

.title-text {
  font-size: 1.5em;
  margin: 0;
}

.white {
  color: white;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #8727dbc0;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #8727DB;
}