<div class="main-page">
  <!-- Header -->
  <div class="flex vertical-align">
    <h1 class="no-margin">Offres {{ terminees ? 'terminées' : 'en cours' }}</h1>

    <button mat-icon-button class="float-right" matTooltip="Importer des offres (csv)" (click)="onClickImport()" *ngIf="!terminees">
      <mat-icon class="add-icon">upload</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Ajouter une offre" (click)="onClickAdd()" *ngIf="authorizationService.canDo('createMission') && !terminees">
      <mat-icon class="add-icon">add_circle</mat-icon>
    </button>
  </div>

  <mat-divider class="separator"></mat-divider>

  <!-- Body -->
  <div class="flex">
    <!-- Partie affichage des données -->
    <div class="content margin-top-1" [ngClass]="{'no-margin': terminees}">
      <!-- Interval de recherche -->
      <div class="flex vertical-align horizontal-align" *ngIf="terminees">
        <h2 class="no-margin">Voir les offres entre le</h2>

        <mat-form-field appearance="standard" class="search">
          <mat-label>Date de début</mat-label>
          <input matInput [matDatepicker]="debutpicker" [(ngModel)]="dateDebut" name="debut" disabled>
  
          <mat-datepicker-toggle matSuffix [for]="debutpicker"></mat-datepicker-toggle>
  
          <mat-datepicker #debutpicker [disabled]="false" startView="multi-year"
            (yearSelected)="onSelectYear($event, true)" (monthSelected)="onSelectMonth($event, true, debutpicker)">
          </mat-datepicker>
        </mat-form-field>

        <h2 class="no-margin search">et le</h2>

        <mat-form-field appearance="standard" class="search">
          <mat-label>Date de fin</mat-label>
          <input matInput [matDatepicker]="finpicker" [(ngModel)]="dateFin" name="debut" disabled>
  
          <mat-datepicker-toggle matSuffix [for]="finpicker"></mat-datepicker-toggle>
  
          <mat-datepicker #finpicker [disabled]="false" startView="multi-year"
            (yearSelected)="onSelectYear($event, false)" (monthSelected)="onSelectMonth($event, false, finpicker)">
          </mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle class="search" [(ngModel)]="filterByDates" (change)="switchFilterByDates($event.checked)"></mat-slide-toggle>
      </div>

      <!-- Missions -->
      <div class="mission-group">
        <mat-card class="flex vertical-align offres">
          <p class="title-text white">Offre<span *ngIf="missions.length > 0">s</span></p>

          <!-- Filtres -->
          <div class="filters" *ngIf="showFilters">
            <div class="filter-group">
              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre Priorité</mat-label>
                <select matNativeControl class="white" [(ngModel)]="priorityFilter" (change)="filter()">
                  <option class="black" *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="priorityFilter" (click)="priorityFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre Agence</mat-label>
                <select matNativeControl class="white" [(ngModel)]="agencyFilter" (change)="filter()">
                  <option class="black" *ngFor="let agency of agencies" [value]="agency">{{ agency }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="agencyFilter" (click)="agencyFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre demandeur</mat-label>
                <select matNativeControl class="white" [(ngModel)]="demandeurFilter" (change)="filter()">
                  <option class="black" *ngFor="let demandeur of demandeurs" [value]="demandeur">{{ demandeur }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="demandeurFilter" (click)="demandeurFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre client</mat-label>
                <select matNativeControl class="white" [(ngModel)]="clientFilter" (change)="filter()">
                  <option class="black" *ngFor="let client of clients" [value]="client">{{ client }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="clientFilter" (click)="clientFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre Poste/Profil</mat-label>
                <select matNativeControl class="white" [(ngModel)]="descriptionFilter" (change)="filter()">
                  <option class="black" *ngFor="let desc of descriptions" [value]="desc">{{ desc }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="descriptionFilter" (click)="descriptionFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <div class="filter-group">
              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre date début</mat-label>
                <select matNativeControl class="white" [(ngModel)]="dateDebutFilter" (change)="filter()">
                  <option class="black" *ngFor="let date of datesDebut" [value]="date">{{ date }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="dateDebutFilter" (click)="dateDebutFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre date fin</mat-label>
                <select matNativeControl class="white" [(ngModel)]="dateFinFilter" (change)="filter()">
                  <option class="black" *ngFor="let date of datesFin" [value]="date">{{ date }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="dateFinFilter" (click)="dateFinFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre statut</mat-label>
                <select matNativeControl class="white" [(ngModel)]="statusFilter" (change)="filter()">
                  <option class="black" *ngFor="let status of status" [value]="status">{{ status }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="statusFilter" (click)="statusFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre type</mat-label>
                <select matNativeControl class="white" [(ngModel)]="typeFilter" (change)="filter()">
                  <option class="black" *ngFor="let type of types" [value]="type">{{ type }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="typeFilter" (click)="typeFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label class="white">Filtre Candidats</mat-label>
                <select matNativeControl class="white" [(ngModel)]="collaboratorFilter" (change)="filter()">
                  <option class="black" *ngFor="let collab of collaborators" [value]="collab">{{ collab }}</option>
                </select>

                <button matSuffix mat-icon-button *ngIf="collaboratorFilter" (click)="collaboratorFilter = ''; filter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <button mat-icon-button class="float-right white" (click)="onClickFilter();" matTooltip="Filtrer les offres">
            <mat-icon>filter_alt</mat-icon>
          </button>
        </mat-card>

        <app-missions-array [data]="filteredMissions" [missionId]="missionId" [terminees]="terminees"
          (deleted)="onDelete($event)" (edited)="onEdit($event)"></app-missions-array>
      </div>
    </div>

    <mat-divider class="separator main-page" *ngIf="showAddOrUpdate" [vertical]="true"></mat-divider>

    <!-- Partie formulaire -->
    <div class="form margin-top-1" *ngIf="showAddOrUpdate">
      <app-add-or-update (added)="queryMissions()" (close)="onClose()" [missionId]="missionId" [terminees]="terminees"></app-add-or-update>
    </div>
  </div>
</div>