h1 {
  margin: 0 auto 0 auto;
}

p {
  margin: 0 2%;
  width: 26%;
  text-align: center;
}

.group {
  margin: 0 2%;
  width: 21%;
}

.error-message {
  font-size: 0.85em;
  text-align: center;
}

.vertical-center {
  margin: auto 0;
}