<!-- Header -->
<div class="flex">
  <button class="float-left" mat-icon-button (click)="onNewSkill()" matTooltip="Créer une compétence"><mat-icon>add_circle</mat-icon></button>

  <h1 mat-dialog-title *ngIf="!data.readOnly">Ajout de compétences</h1>
  <h1 mat-dialog-title *ngIf="data.readOnly">Résumé des compétences</h1>

  <button class="float-right" mat-icon-button (click)="onCancel()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<div mat-dialog-content>
  <!-- Noms des colonnes -->
  <div class="flex vertical-align">
    <p>Compétence</p>

    <p>Niveau</p>

    <p>Exigence</p>
  </div>

  <!-- Contenu -->
  <div class="flex space-around" *ngFor="let missionSkill of data.missionSkills; let i = index">
    <div class="flex col group">
      <mat-form-field appearance="standard">
        <select matNativeControl [(ngModel)]="missionSkill.skill_id" [disabled]="data.readOnly">
          <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.label }}</option>
        </select>
      </mat-form-field>

      <div class="error-message red" *ngIf="!missionSkill.skill_id && (missionSkill.level || (missionSkill.mandatory !== null && missionSkill.mandatory !== undefined))">
        Veuillez entrer ce champs
      </div>
    </div>

    <mat-divider class="separator" [vertical]="true"></mat-divider>

    <div class="flex col group">
      <mat-form-field appearance="standard">
        <select matNativeControl [(ngModel)]="missionSkill.level" [disabled]="data.readOnly">
          <option *ngFor="let level of levels | keyvalue" [value]="level.value">{{ level.value }}</option>
        </select>
      </mat-form-field>

      <div class="error-message red" *ngIf="!missionSkill.level && (missionSkill.skill_id || (missionSkill.mandatory !== null && missionSkill.mandatory !== undefined))">
        Veuillez entrer ce champs
      </div>
    </div>

    <mat-divider class="separator" [vertical]="true"></mat-divider>
    
    <div class="flex col group">
      <mat-form-field appearance="standard">
        <select matNativeControl [(ngModel)]="missionSkill.mandatory" [disabled]="data.readOnly">
          <option [value]="true">Obligatoire</option>
          <option [value]="false">Apprécié</option>
        </select>
      </mat-form-field>

      <div class="error-message red" *ngIf="(missionSkill.mandatory === null || missionSkill.mandatory === undefined) && (missionSkill.level || missionSkill.skill_id)">
        Veuillez entrer ce champs
      </div>
    </div>

    <button class="red vertical-center" mat-icon-button (click)="onDelete(i)" [disabled]="data.readOnly"><mat-icon>delete</mat-icon></button>
  </div>

  <div class="flex vertical-align" *ngIf="!data.readOnly">
    <button mat-icon-button class="float-right" (click)="addNewMissionSkill()" matTooltip="Ajouter une compétence à l'offre">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!-- Validation -->
<div mat-dialog-actions>
  <button class="green" mat-icon-button [mat-dialog-close]="data" matTooltip="Enregistrer" cdkFocusInitial>
    <mat-icon>save</mat-icon>
  </button>
</div>