<div class="main-page">
  <!-- Header -->
  <div class="flex vertical-align">
    <h1 class="no-margin">Accès Admin</h1>
  </div>

  <mat-divider class="separator"></mat-divider>

  <!-- Body -->
  <div class="flex margin-top-1">
    <!-- Gestion des skills -->
    <app-admin-skills class="third-width"></app-admin-skills>

    <!-- Gestion des clients -->
    <app-admin-clients class="third-width"></app-admin-clients>

  </div>
</div>
