<!-- Header -->
<div class="flex">
  <h1 mat-dialog-title>Création de compétence</h1>

  <button class="float-right" mat-icon-button (click)="onCancel()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<div class="flex" mat-dialog-content>
  <!-- Input de création -->
  <mat-form-field>
    <mat-label>Compétence</mat-label>
    <input matInput [(ngModel)]="skill" (input)="onInput()">
  </mat-form-field>
</div>

<mat-divider class="separator"></mat-divider>

<!-- Liste de compétences déjà en base ressemblant à l'input -->
<div class="flex col">
  <h2>Compétences semblables</h2>

  <p *ngFor="let match of matchingSkills">{{ match }}</p>
</div>

<!-- Validation -->
<div mat-dialog-actions matTooltip="Cette compétence existe déjà" [matTooltipDisabled]="!skillAlreadyExists">
  <button class="green" mat-icon-button matTooltip="Enregistrer" (click)="onSave()" cdkFocusInitial [disabled]="skillAlreadyExists">
    <mat-icon>save</mat-icon>
  </button>
</div>