<!-- Header -->
<div class="flex">
  <h1 mat-dialog-title>Importer des offres</h1>
  <button class="float-right" mat-icon-button (click)="dialogRef.close()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<div mat-dialog-content>
  <div class="flex space-around">
    <!-- Bouton de dl du modèle -->
    <button mat-icon-button matTooltip="Télécharger un fichier modèle" (click)="onClickDownload()">
      <mat-icon class="add-icon">download</mat-icon>
    </button>

    <!-- Bouton d'import -->
    <button mat-icon-button matTooltip="Importer les offres (csv)" (click)="fileInput.click()">
      <mat-icon class="add-icon">upload</mat-icon>
    </button>
    <input hidden #fileInput type="file" id="file" (change)="onFileSelected()" accept=".csv">
  </div>

  <mat-divider class="separator" *ngIf="errorByLines"></mat-divider>

  <!-- Liste des erreurs -->
  <div class="flex" *ngIf="errorByLines">
    <h2 *ngIf="errorByLines.length === 0">Aucune erreur détectée dans le csv</h2>

    <div class="flex col width-100" *ngIf="errorByLines.length > 0">
      <div class="flex col" *ngFor="let errors of errorByLines; let i = index">
        <div class="flex">
          <h2>Erreur(s) de la ligne {{ i + 2 }}</h2>

          <button mat-icon-button (click)="showErrors[i] = !showErrors[i]">
            <mat-icon *ngIf="!showErrors[i]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="showErrors[i]">keyboard_arrow_up</mat-icon>
          </button>
        </div>

        <mat-list *ngIf="showErrors[i]">
          <mat-list-item *ngFor="let error of errors">
            <mat-icon mat-list-icon class="red">error</mat-icon>
            <div>{{ error }}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions *ngIf="missions.length > 0">
  <button class="green" mat-icon-button (click)="sendRequest()" matTooltip="Enregistrer" [disabled]="errorByLines && errorByLines.length > 0">
    <mat-icon>save</mat-icon>
  </button>
</div>