.close-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: #24064c;
}

.full-width {
  width: 92% !important; /* 92% car 2 * 45% + les 2 % de margin-left des autres lignes */
}

.margin-left-2 {
  margin-left: 20px;
}

.mat-form-field {
  width: 45%;
}

.title {
  text-align: center;
  font-family: Arial;
  color: #3E0D81;
  font-size: 18px;
  margin-bottom: 10px;
}
