<div class="fixed margin-left-2">

  <button class="float-right no-padding-right flex" mat-icon-button type="button"
          matTooltip="Fermer le formulaire"
          (click)="emitClose()">
    <mat-icon class="close-icon">cancel</mat-icon>
  </button>
  <div class="title">{{ title }}</div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">

    <div>

      <mat-form-field appearance="standard">
        <mat-label>Nom</mat-label>
        <input matInput type="text" name="lastname" [(ngModel)]="person.lastname"
               #lastname="ngModel"
               required>

        <mat-error *ngIf="lastname.invalid && lastname.touched">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="margin-left-2" appearance="standard">
        <mat-label>Prénom</mat-label>
        <input matInput name="firstname" [(ngModel)]="person.firstname" #firstname="ngModel"
               required
        >

        <mat-error *ngIf="firstname.invalid && firstname.touched">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="standard">
        <mat-label>Adresse mail</mat-label>
        <input matInput type="text" name="email" [(ngModel)]="person.email" #email="ngModel"
               required
        >

        <mat-error *ngIf="email.invalid && email.touched">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Profil</mat-label>
        <select matNativeControl [(ngModel)]="person.profil" name="profil" #profil="ngModel"
                required>
          <option *ngFor="let profil of profils | keyvalue"
                  [value]="profil.key">{{ profil.value }}</option>
        </select>
        <mat-error *ngIf="profil.invalid && profil.touched">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" class="margin-left-2">
        <mat-label>N° de tel</mat-label>
        <input matInput name="phone" [(ngModel)]="person.phone">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Date d'arrivée</mat-label>
        <input matInput [matDatepicker]="debutpicker" [(ngModel)]="person.date_in" name="debut"
               (dateChange)="setDate($event.target.value, true)" required>
        <mat-datepicker-toggle matSuffix [for]="debutpicker"></mat-datepicker-toggle>
        <mat-datepicker #debutpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="margin-left-2" appearance="standard"
                      *ngIf="profil.value ==='INTERN' || profil.value === 'FREELANCE' || profil.value ==='CONTRACTOR' || profil.value ==='CANDIDATE'">
        <mat-label>Manager</mat-label>
        <select matNativeControl [(ngModel)]="selectedManagerId" name="manager" #manager="ngModel" required>
          <option *ngFor="let manager of managers"
                  [value]="manager.id">{{ manager.lastname }} {{ manager.firstname }}</option>
        </select>
      </mat-form-field>
    </div>

    <div style="text-align:right;">
      <button [ngClass]="{'green': form.valid}" mat-icon-button type="submit"
              [disabled]="form.invalid"
              matTooltip="Enregistrer">
        <mat-icon>save</mat-icon>
      </button>
    </div>

  </form>

</div>
