<!-- Header -->
<div class="flex">
  <h1 mat-dialog-title>Quel rôle souhaitez-vous attribuer à {{ data.lastname }} {{ data.lastname }}</h1>
  <button class="float-right" mat-icon-button (click)="onCancel()" matTooltip="Fermer"><mat-icon>cancel</mat-icon></button>
</div>

<!-- Body -->
<mat-form-field mat-dialog-content>
  <select matNativeControl [(ngModel)]="data.profil">
    <option *ngFor="let profil of profils | keyvalue" [value]="profil.key" [disabled]="profil.value === profils.ADMIN">{{ profil.value }}</option>
  </select>
</mat-form-field>

<!-- Validation -->
<div mat-dialog-actions>
  <button class="green" mat-icon-button [mat-dialog-close]="data" matTooltip="Enregistrer" cdkFocusInitial [disabled]="!canSave()">
    <mat-icon>save</mat-icon>
  </button>
</div>