// styles.scss
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// import custom componenet themes
//@import './custom-theme.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$omg-front-primary: mat-palette($mat-indigo);
$omg-front-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$omg-front-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$omg-front-theme: mat-light-theme((
  color: (
    primary: $omg-front-primary,
    accent: $omg-front-accent,
    warn: $omg-front-warn,
  )
));

/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #cdb8fa23;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex {
  display: flex !important;

  &.col {
    flex-direction: column;
  }

  &.vertical-align {
    align-items: center;
  }

  &.horizontal-align {
    justify-content: center;
  }

  &.space-around {
    justify-content: space-around;
  }
}

.flex-07 {
  flex: 0.7;
}

.float-left {
  margin-right: auto !important;
}

.float-right {
  margin-left: auto !important;
}

.front-primary {
  background-color: mat-color($omg-front-theme);
  border-color: mat-color($omg-front-theme);
}

.full-height {
  height: 95vh;
}

.green {
  color: rgb(0, 182, 0);
}

.main-page {
  margin: 0% 1% !important;
}

.margin-left-2 {
  margin-left: 2%;
}

.margin-top-1 {
  margin-top: 1%;
}

.mat-bottom-sheet-container {
  background-color: #3E0D81;;
  color: white;
}

.mat-dialog-actions {
  justify-content: center;
}

.mat-input-element:disabled {
  color: black;
}

.mat-simple-snackbar-action {
  color: white;
}

.mat-snack-bar-container {
  background-color: #3E0D81;;
  color: white;

  &.success {
    background-color: rgb(0, 182, 0);
  }

  &.danger {
    background-color: rgb(199, 0, 0);
  }
}

.max-height-100 {
  max-height: 100%;
  overflow: auto;
}

.no-margin {
  margin: 0 !important;

  &.float-right {
    margin: 0 0 0 auto !important;
  }
}

.pointer {
  cursor: pointer;
}

.red {
  color: rgb(199, 0, 0);
}

.separator {
  border-color: #573EEF;
}

.space-around {
  justify-content: space-around;
}

.text-center {
  text-align: center !important;
}

// Scrollbar
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #3E0D81;
}