<div class="flex col max-height-100">
  <!-- Header -->
  <div class="flex">
    <h1>Compétences</h1>

    <button mat-icon-button (click)="addEmptySkill()" matTooltip="Ajouter une compétence"><mat-icon>add</mat-icon></button>
    <button mat-icon-button class="red" (click)="onReset()" matTooltip="Annuler les modifications"><mat-icon>undo</mat-icon></button>
    <button mat-icon-button class="green" (click)="onSave()" matTooltip="Sauvegarder les compétences"><mat-icon>save</mat-icon></button>
  </div>

  <!-- Body -->
  <div class="flex vertical-align" *ngFor="let skill of skills; let i = index">
    <mat-form-field class="float-right flex-07" appearance="standard">
      <input matInput [(ngModel)]="skill.label">
    </mat-form-field>

    <div class="float-right" [matTooltip] = "'Cette compétence est référencée dans ' + skill.missionSkills.length + ' offre(s)'"
      [matTooltipDisabled]="!skill.missionSkills || skill.missionSkills.length === 0">
      <button mat-icon-button class="red" (click)="onDelete(i)" [disabled]="skill.missionSkills && skill.missionSkills.length > 0">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>